


<section class="h-100 bg-dark" style="text-align: center">
  <div class="container py-5 h-200">
    <div class="row d-flex justify-content-center align-items-center h-200">
      <div class="col">
        <div class="card card-registration my-12">
          <div class="row g-2">
           
            <div class="col-xl-15">
              <div class="card-body p-md-5 text-black">
              

                <div class="container">
                  <h1>Listes des Annonces</h1>
                  <table class="table">
                      <thead>
                        <tr>
                 
                          <th scope="col">type d'emploi</th>
                          <th scope="col">année d'expérience</th>
                          <th scope="col">niveau d'études</th>
                          <th scope="col">langues</th>
                          <th scope="col">description</th>
                          <th scope="col">mots clées</th>
                          <th scope="col"> Compétences </th>
                          <th scope="col"> Postuler</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let t of Annonces">
       
                          <td >{{t.titre}}</td>
                          
                          <td> {{t.Type_emploi}}    </td>
                          <td> {{t.experience}} ans </td>
                          <td> {{t.niveau}} minimum</td> 
                          <td> {{t.langue}}</td> 
                          <td> {{t.description}}</td> 
                          <td> {{t.mots_cles}} </td> 
                                 
                             
                            
                         
                             
                            
                           
                            
                             <td>


                             <button class="btn btn-secondary" 
             [routerLink]="['/add_candidat',t._id]">Postuler</button> 

                             </td>                          
                 
                            </tr>
                      </tbody>
                    
              
              
              
              </table>

              
              </div>
              
              
              
              
              
              
              
              
              
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>